<hr>
<h3>Retailer Management</h3>
<hr>
<table>
  <tr>
    <th style="width: 50px;">Sr No.</th>
    <th style="width: 100px;">Retailer ID</th>
    <th style="width: 100px;">First Name</th>
    <th style="width: 100px;">Last Name</th>
    <th style="width: 100px;">Gender</th>
    <th style="width: 150px;">MobileNo</th>
    <th style="width: 100px;">Email ID</th>
    <th style="width: 100px;">Role</th>
    <th style="width: 100px;">Status</th>
    <!-- <th style="width: 100px;">Password</th> -->
    <th style="width: 100px;">Actions</th>
  </tr>

  <tr *ngFor="let r of registrationModel;let i=index">
    <td style="width: 50px;">{{i + 1}}</td>
    <td style="width: 100px;">{{r.UserID}}</td>
    <td style="width: 100px;">{{r.FirstName}}</td>
    <td style="width: 100px;">{{r.LastName}}</td>
    <td style="width: 100px;">{{r.Gender}}</td>
    <td style="width: 100px;">{{r.MobileNumber}}</td>
    <td style="width: 100px;">{{r.Email}}</td>
    <td style="width: 100px;">{{r.Role}}</td>
    <td style="width: 100px;">{{r.Status}}</td>
    <!-- <td style="width: 100px;">{{r.Password}}</td> -->
    <td style="width: 200px;"><button (click)="GetRetailerById(r.UserID)">Edit</button> |
      <button class="btn btn-danger" (click)="openDeletePopup(contentdelete, r.UserID);">Delete</button>
    </td>
  </tr>
</table>

<!-- Delete Popup Start -->
<ng-template #contentdelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <p>Are you Sure you want to Delete?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="DeleteProduct()">Ok</button>
  </div>
</ng-template>
<!-- Delete Popup End -->