<div class="container">
    <div class="text-center my-5">
        <h4 *ngIf="wishlistmodel.length == 0">Your WishList Is Empty</h4>
        <a href='home' class="btn btn-primary btn-lg mt-3">Continue Shopping</a>
    </div>
    <!--If cart is not empty-->
    <ng-container>
        <div class="row">
            <div class="col my-4">
                <table class="table">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th>Sr No.</th>
                            <th>Image</th>
                            <th>ProductName</th>
                            <th>Price</th>
                            <th style="width: 200px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let wishlist of wishlistmodel; let i=index">
                            <td>
                                <p>{{i + 1}}</p>
                            </td>
                            <td><img width="130px;" height="130px;" />
                            </td>
                            <td>
                                <p>{{wishlist.ProductName}}</p>
                            </td>
                            <td>
                                <p>{{wishlist.ProductPrice}}</p>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                    (click)="handleRemoveFromWishlist(wishlist.WishListID)">Remove From
                                    WishList</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12 d-flex mb-5">
                <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
                    <!-- <a routerLink="/checkout" class="btn btn-danger btn-sm order-1">Checkout</a> -->
                </div>
            </div>

        </div>
    </ng-container>

</div>