<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Easy Shopping</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="home">Home</a> |
    <a class="p-2 text-dark" href="#">About Us</a> |
    <a class="p-2 text-dark" href="#">Contact Us</a> |
    <a class="p-2 text-dark" routerLink="admin">Admin |</a>
    <a class="p-2 text-dark" routerLink="productcrud">Retailer |</a>
    <a *ngIf="loginsession" routerLink="cart" class="p-2 text-dark">Cart  &nbsp;|</a>
    <a *ngIf="loginsession" routerLink="wishlist" class="p-2 text-dark">WishList  &nbsp;|</a>
    <a *ngIf="!loginsession" class="p-2 text-dark btn btn-outline-primary" routerLink="login">Login/Sign Up</a>
    <b *ngIf="loginsession" class="p-2 text-dark">Welcome {{userName}}</b>
    <a *ngIf="loginsession" class="p-2 text-dark btn btn-outline-primary" (click)="logOff()">LogOut</a>
  </nav>
</div>