<!--<hr>
<small>&copy;Online Shopping Team</small>
<hr>
<small style="color: red;">&copy;<b>Harsh Modi</b></small>
<hr>-->
<!-- Footer -->

<footer class="page-footer font-small elegant-color">

  
    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-4 pt-md-5">
  
      <!-- Grid row -->
      <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5>About Us</h5>
          <p>Easy Shopping gives you a chance to quickly and easily find the phone you want and have it delivered to your home in no time, regardless of your location.</p>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5>Products</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="list-unstyled foot-desc">
            <li class="mb-2">
              <a>Smartphones</a>
            </li>
            <li class="mb-2">
              <a>BasicPhones</a>
            </li>
           
          </ul>
  
        </div>
       
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
       
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5>Contact Us</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="fa-ul foot-desc ml-4">
            <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>Mindspace, Airoli,Navi Mumbai,Maharashtra,India
            </li>
            <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>+91-8449199385</li>
            <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>easyonlineshopping@gmail.com</li>
        
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://easyonlineshopping@gmail.com/"> easyonlineshopping@gmail.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->