<body>
    <input type="checkbox" id="check">
     <label for="check">
       <i class="fas fa-bars" id="btn"></i>
       <i class="fas fa-times" id="cancel"></i>
     </label>
   
   
     <div class="sidebar">
       <header>My Profile</header>
       <ul>
         <li><a href="#"><i class="fas fa-qrcode"></i>My Details</a></li>
         <li><a href="#"><i class="fas fa-qrcode"></i>My Orders</a></li>
         <li><a routerLink="cart"><i class="fas fa-qrcode"></i>My Cart</a></li>
         <li><a href="#"><i class="fas fa-qrcode"></i>My Wishlist</a></li>
         <li><a href="#"><i class="fas fa-qrcode"></i>Change Password</a></li>
         
       </ul>
   
     </div>
     
   </body>
   
