<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Forgot Password</h3>

                <div *ngIf="!isValidEmailId">
                    <div class="form-group">
                        <label>EmailId</label>
                        <input style="width: 220px;" type="text" [(ngModel)]="emailId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    </div>

                    <div><small class="text-danger"></small>{{errorMsg}}</div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" (click)="VerifyEmail();">Send OTP</button>
                    </div>
                </div>

                <form *ngIf="isValidEmailId" [formGroup]="forgotForm" (ngSubmit)="ChangePassword(forgotModel)">
                    <div class="form-group">
                        <label> New Password</label>
                        <input style="width: 220px;" type="password" [(ngModel)]="forgotModel.Password"
                            formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required"><small class="text-danger">Password is
                                    required</small></div>
                            <div *ngIf="f.password.errors.minlength"><small class="text-danger">Password must be at
                                    least 6 characters</small></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New Confirm Password</label>
                        <input style="width: 220px;" type="password" [(ngModel)]="forgotModel.ConfirmPassword"
                            formControlName="confirmPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required"><small class="text-danger">Confirm Password
                                    is required</small></div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch"><small class="text-danger">Passwords must
                                    match</small></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter OTP</label>
                        <input style="width: 220px;" type="text" [(ngModel)]="forgotModel.OTP" formControlName="OTP"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.OTP.errors }" />
                        <div><small class="text-danger"></small>{{errorMsg}}</div>
                        <div *ngIf="submitted && f.OTP.errors" class="invalid-feedback">
                            <div *ngIf="f.OTP.errors.required"><small class="text-danger">OTP is required</small></div>
                            <div *ngIf="f.OTP.errors.minlength"><small class="text-danger">OTP must be at least 6
                                    characters</small></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>